h1 {
    font-family: "Gotham","Trebuchet MS", sans-serif;
    font-weight: bold;
    color: #4169e1;
}

p {
    font-family:"Gotham","Trebuchet MS", sans-serif;
}
h3 {
    font-family: "Gotham","Trebuchet MS", sans-serif;
    color: #000080;
}
li {
    font-family:"Gotham","Trebuchet MS", sans-serif;
    
}